<!DOCTYPE html>
<html>
<head>
</head>
	<body>
		<span>
			<div>
				<h1>The Nick Tracker!</h1>
			</div>

		</span>

		<span>
			<div>
				<p>Map of American Fire - Click the button to locate Nick</p>
				<button type = "button" class = 'btn btn-primary'>Find Nick</button>

			</div>

			<img src="afe_building.png" >

		</span>
	</body>
</html>
